---
---

@import "{{ site.theme }}";
@import url(//fonts.googleapis.com/css?family=Press+Start+2P:400);

body {
  background-image: url(//jacoobundertale.github.io/Jacoob_Projects/JACOOB_DARK.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
  font-family: "Press Start 2P";
  color: #429c41;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Press Start 2P";
}
header h1{
  font-family: "Press Start 2P";  
}
